<div ng-if="!analyzeWithGenesState">
    <ol class="breadcrumb" >
        <li ><a ui-sref="lincs()"><span class="fa fa-home"></span></a></li>
        <li ng-if="!searched" class="active">Search for signatures</li>
        <li ng-if="searched"><a ng-click="goHomeSig()">Search for signatures</a></li>
        <li ng-if="searched" class="active">Search results</li>
    </ol>
</div>
<!-- <h4>Search iLincs signatures</h4> -->

<div class="row-fluid" ng-if="!analyzeWithGenesState">
    <div class="ilincs-page-header" >
        <h1>Signatures
            <div class="helpiconsdiv inlineflex pull-right">
                <!-- modified by Behrouz
                <div uib-dropdown is-open="statusV.isopen">
                  <button id="video-dropdown" type="button" class="btn-link" style="font-size: 28px;" uib-dropdown-toggle ng-disabled="disabled">
                    <i class="fa fa-youtube-play"></i>
                  </button>
                  <ul class="dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="margin-top:0px;margin-bottom: 0px;">
                    <li role="menuitem"><a ng-click="openIframeModal('qBRLabOFvjQ','YouTube')">iLINCS portal overview</a></li>
                  <li role="menuitem"><a ng-click="openIframeModal('p7ClSwElQn4','YouTube')">Signatures pipeline - Overall workflow</a></li>
                  <li role="menuitem"><a ng-click="openIframeModal('14inziZYBuA','YouTube')">Signatures pipeline - Landing page</a></li>
                  </ul>
                </div>
                end of modified by Behrouz -->
                <div uib-dropdown is-open="statusH.isopen">
                    <button id="help-dropdown" type="button" class="btn-link" style="font-size: 28px;" uib-dropdown-toggle ng-disabled="disabled">
                        <i class="fa fa-question"></i>
                    </button>
                    <ul class="dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="/help/" target="_blank">iLINCS Help</a></li>
                        <li role="menuitem"><a href="/help/tutorials/signatures/Search-for-signature" target="_blank">Explore signatures</a></li>
                        <li role="menuitem"><a href="/help/tutorials/signatures/Find-signatures-with-pharmacological-actions" target="_blank">Pharmacological Actions</a></li>
                    </ul>
                </div>
            </div>
        </h1>
    </div>
</div>
<!-- -->
<div ng-if="!analyzeWithGenesState">
    <ul  class="nav nav-tabs main-tabs">
        <li ng-class="uploadMode ? 'nonactive':'active'">
            <a  ui-sref="signatures.search()" ui-sref-opts="{reload:true}">Search</a>
        </li>
        <li ng-class="uploadMode ? 'active':'nonactive'">
            <a ui-sref="signaturesUpload()" ui-sref-opts="{reload:true}">Submit</a>
        </li>
        <li class="nonactive"><a ui-sref="maps()" ui-sref-opts="{reload:true}">Maps</a>
        </li>
    </ul>
</div>

<div class="panel panel-default panel-pills">
    <div class="panel-body maps-body">
        <!-- ng-class="{panel-pills: !analyzeWithGenesState}" -->
        <div class="panel panel-default"  >
            <div class="panel-heading panel-heading-small">
                <h2 class="panelIntroText">Find signatures to analyze</h2>
            </div>
            <!-- <h4>Select signatures to analyze</h4> -->
            <div class="panel-body">
                <!-- <div class="card-body"> -->
                <!-- <div style="margin: 0 15px ">
                <div class="ilincs-navigator-response-section-container">
                  <div class="ilincs-navigator-response-section-heading">
                    <b>Find Signatures Using Text Search</b>
                  </div> -->
                <!-- {{searched}} -->
                <div class="row">

                    <div class="col-sm-6">
                        <div class="sig-lib-list-top" style="margin-top:10px;padding-left:26px" ng-if="environment='development'">
                            <a class="title-pointer">
                                <i ng-if='!chosenAllLib()'   ng-click='chooseLib("All")' class="fa fa-square-o" bs-popover data-placement="right" data-container="body" data-delay="100" data-trigger="hover" data-content="select all signature libraries"></i>
                                <i ng-if='chosenAllLib()'  ng-click='chooseLib("none")' class="fa fa-check-square" bs-popover data-placement="right" data-container="body" data-delay="100" data-trigger="hover" data-content="deselect all signature libraries"></i>
                            </a>
                            <strong>Signature Library<span class="pull-right">Number of signatures</span></strong>
                        </div>

                        <ul style="list-style:none; font-weight:bold;padding-top:5px;">
                            <!-- ng-if="signaturesF.signatureLibrariesReady" -->
                            <div class="row" ng-repeat="lib in signaturesF.libraryIDs">
                                <li value="{{lib}}">
                                    <!-- <a ng-click='chooseLib(lib)' class="title-pointer">
                                      <i ng-if='!chosenLib(lib)'  class="fa fa-square-o" bs-popover data-placement="right" data-container="body" data-delay="100" data-trigger="hover" data-content="Add signature library to results"></i>
                                      <i ng-if='chosenLib(lib)' class="fa fa-check-square"  bs-popover data-placement="right" data-container="body" data-delay="100" data-trigger="hover" data-content="Remove signature library from results"></i>
                                    </a> -->
                                    <a ng-click='chooseLib(lib)' class="title-pointer">
                                        <i ng-if='!chosenLib(lib)'  class="fa fa-square-o" bs-popover data-placement="right" data-container="body" data-delay="100" data-trigger="hover" data-content="Add signature library to results"></i>
                                        <i ng-if='chosenLib(lib)' class="fa fa-check-square"  bs-popover data-placement="right" data-container="body" data-delay="100" data-trigger="hover" data-content="Remove signature library from results"></i>
                                    </a>
                                    <a ng-if="!searched" class="pointer" ng-click="onClickCountBadge('',[lib])"  bs-popover data-placement="right" data-container="body" data-delay="100" data-trigger="hover" data-template-url="views/templates/tooltips/popoverLibraryInfo.html"> <span class="black">{{getLibName(lib)}}</span></a>
                                    <a ng-if="searched" class="pointer" ng-click="chooseLib(lib)" bs-popover data-placement="right" data-container="body" data-delay="100" data-trigger="hover" data-template-url="views/templates/tooltips/popoverLibraryInfo.html"> <span class="black">{{getLibName(lib)}}</span></a>
                                    <a class="pointer" ng-click="onClickCountBadge('',[lib])"><span class="badge pull-right" bs-popover data-placement="auto left" data-container="body" data-delay="100" data-trigger="hover" data-content="Display all signature for this library">{{signaturesF.signatureLibraries[lib].signatureCount||0}}</span></a>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <br />
                        <div class="input-group lincs-search-group">

                            <!-- ng-model-options="{ debounce: 250 }"  -->
                            <input type="text" ng-model="keyword" class="form-control"
                                   aria-label="..." placeholder="Search for keyword..." my-enter="goSearchGL()" autofocus>
                            <div class="input-group-btn">
                                <!-- <button ui-sref='.searchFor({term:keyword})' class="btn btn-primary" value="Search" ng-disabled="keyword.length<2||keyword==undefined">Search</button> -->
                                <a ng-click='goSearchGL()' class="btn btn-primary" value="Search"  ng-disabled="keyword.length<2||keyword==undefined">Search</a>
                            </div>
                        </div>
                        <!-- <strong>Example keywords : <a href="" ng-click="keyword='sirolimus'">sirolimus</a>, <a href="" ng-click="keyword='MCF7'">MCF7</a>, <a href="" ng-click="keyword='vorinostat'">vorinostat</a>, <a href="" ng-click="keyword='metastasis'">metastasis</a>, <a href="" ng-click="keyword='development'">development</a></strong> -->
                        <strong>Example keywords :
                            <span ng-if="!analyzeWithGenesState">
        <a ui-sref="signatures.searchTerm({term:'sirolimus'})" ui-sref-opts="{reload:true}" ng-click="keyword='sirolimus'">sirolimus</a>,
        <a ui-sref="signatures.searchTerm({term:'MCF7'})" ui-sref-opts="{reload:true}" ng-click="keyword='MCF7'">MCF7</a>,
        <a ui-sref="signatures.searchTerm({term:'vorinostat'})" ui-sref-opts="{reload:true}" ng-click="keyword='vorinostat'">vorinostat</a>,
        <a ui-sref="signatures.searchTerm({term:'MTOR'})" ui-sref-opts="{reload:true}" ng-click="keyword='MTOR'">MTOR</a>,
        <a ui-sref="signatures.searchTerm({term:'RAF inhibitor'})" ui-sref-opts="{reload:true}" ng-click="keyword='RAF inhibitor'">RAF inhibitor</a>
      </span>
                            <span ng-if="analyzeWithGenesState">
        <a ui-sref="analyzeWithGenes.signatures.searchInLibs({term:'sirolimus'})" ng-click="changeKeyword('sirolimus')">sirolimus</a>,
        <a ui-sref="analyzeWithGenes.signatures.searchInLibs({term:'MCF7'})" ng-click="changeKeyword('MCF7')">MCF7</a>,
        <a ui-sref="analyzeWithGenes.signatures.searchInLibs({term:'vorinostat'})" ng-click="changeKeyword('vorinostat')">vorinostat</a>,
        <a ui-sref="analyzeWithGenes.signatures.searchInLibs({term:'MTOR'})" ng-click="changeKeyword('MTOR')">MTOR</a>,
        <a ui-sref="analyzeWithGenes.signatures.searchInLibs({term:'RAF inhibitor'})" ng-click="changeKeyword('RAF inhibitor')">RAF inhibitor</a>
      </span>
                        </strong>
                        <!-- <div ng-if="limitedResults" class="alert alert-info alert-mb fade in"><i class="fa fa-exclamation-circle" style="color: #337ab7"></i> If 0 or 1 character is supplied results show only first 1000 signatures out of library</div> -->

                        <div ng-if="analyzeWithGenesState">
                            <center>OR<br/>
                                <a ui-sref="analyzeWithGenes.signatures.enrichment()" class="btn btn-primary" value="Search" >Find Enriched Signatures</a></center>
                        </div>

                        <div ng-if="!analyzeWithGenesState" >
                            <br/>
                            <center>
                                <strong>OR </strong>
                            </center>
                            <br/>
                            <strong>Find Signatures with : </strong>

                            <div   style="position: relative;  margin-top: 105px;">

                                <!-- <div  style="position: absolute;margin-top: -105px; margin-right:-300px"> -->
                                <!-- <div  style="position: relative;" > -->
                                <div style="position: absolute;margin-top: -105px; left: 0;">
                                    <button class="btn btn-primary " ui-sref="signatures.search.moaAction()" style="font-size:12px; position:absolute; left: 0px;">Mechanism of Action</button>
                                </div>
                                <div style="position: absolute;margin-top: -105px; right: 0;">
                                    <strong >... e.g. MTOR inhibitor</strong>
                                </div>
                                <!-- </div> -->
                                <!-- </div> -->
                                <!-- <div style="position: absolute;margin-top: -95px;">
                                      <strong>Signature Library<span class="pull-right">Number of signatures</span></strong>
                                    </div> -->
                                <!-- ==================== -->
                                <!-- <div  style="position: absolute;margin-top: -70px;margin-right:100%;height:35px;"> -->
                                <!-- <div  style="position: relative; "> -->
                                <div style="position: absolute;margin-top: -70px; left: 0;">
                                    <button class="btn btn-primary " ui-sref="signatures.search.pharmAction()" style="font-size:12px; position:absolute; left: 0px;">Pharmacological Actions</button>
                                </div>
                                <div style="position: absolute;margin-top: -70px; right: 0;">
                                    <!-- <span class="badge pull-right" bs-popover data-placement="auto left" data-container="body" data-delay="100" data-trigger="hover" data-content="Display all signature for this library">mmmmmmm</span>
                                 -->
                                    <strong >... e.g. Anti-Allergic Agents</strong>
                                </div>
                                <!-- </div> -->
                                <!-- </div> -->

                                <!-- ==================== -->
                                <!-- <div style="position: absolute;margin-top: -35px;margin-right:100%;height:35px;"> -->
                                <!-- <div   style="position: relative; "> -->

                                <div style="position: absolute;margin-top: -35px; left: 0;">
                                    <button class="btn btn-primary " ui-sref="signatures.search.knownTargetAction()" style="font-size:12px; ">Known Targets</button>
                                </div>
                                <div style="position: absolute;margin-top: -35px; right: 0;">
                                    <strong >... e.g. TP53</strong>
                                </div>
                                <!-- </div> -->
                                <!-- </div> -->
                                <!-- ==================== -->

                            </div>


                        </div>






                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- </div> -->

    <!-- <div ui-view="oldSignatures"></div> -->

    <!-- <div ui-view="uploadSignatures"></div> -->
    <!-- <a href="/GenomicsPortals/bs_iLincsFileUploadSetup.do">Upload Signature</a> -->


    <div ui-view></div>

</div>


<div ng-if="environment=='development'" class="alert alert-info alert-mb fade in" style="margin: 12px 0;" ng-cloak>
    <p><i class="glyphicon glyphicon-info-sign" style="color: #337ab7"></i>&nbsp;&nbsp;In order to access iLINCS signatures generated prior to September 2018, please use legacy version: <a href="http://ilincs2018.ilincs.org"><b>ilincs2018.ilincs.org</b></a></p>
</div>
<!-- <hr /> -->
<!-- <div class="alert alert-info alert-mb fade in "
 tooltip-placement="top" uib-tooltip="In order to Create Signature number of selected properties has to be 2!" tooltip-class="helpTooltips" > -->
<!-- <div ng-if="showOldSigsLink">
  <br />
  <br />
<center>
 <a class="btn btn-default" href="/GenomicsPortals/signatures" data-intro="Signatures Pipeline" data-position="right">Access to previous version of generated signatures prior to September 2016</a>
 </center>
   <br />
</div> -->
